<template id="Shortcut">
    <style>
        .Shortcut{
            padding: 5px;
            width: 100px;
            height: 175px;
            background-color: transparent;
            border-style: none;
            overflow: hidden;
        }
        .ShortcutIcon{
            width: 100px;
            height: 100px;
        }
        .ShortcutTitle{
            max-width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px black;
            overflow: hidden;
            white-space: initial;
        }
    </style>
    <button class="Shortcut">
        <img class="ShortcutIcon" draggable="false">
        <p class="ShortcutTitle">

        </p>
    </button>
</template>